/* ===============================================================================
OVERWRITE SETTINGS [ Use this stylesheet for overwriting Reginalds default stuff
rather than overwriting themagicstyles-min.css ]
================================================================================== */
/* DOCUMENT INFORMATION
	- Document:    Reginald's Overwrite CSS
	- Version:     1.02 (Still)Beta
	- Date:        December 2019
	- Author:      Kimmich DigitalMedia */
/* We are trying to self-host our default FONT Roboto Condensed - so we load it first
For more info - and different FONTs: https://google-webfonts-helper.herokuapp.com/fonts
------------------------------------------------------------------------------------------------ */
/* roboto-condensed-300 - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../FONTs/roboto-condensed-v18-latin-300.eot');

    /* IE9 Compat Modes */
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('../FONTs/roboto-condensed-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../FONTs/roboto-condensed-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../FONTs/roboto-condensed-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../FONTs/roboto-condensed-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../FONTs/roboto-condensed-v18-latin-300.svg#RobotoCondensed') format('svg');

    /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../FONTs/roboto-condensed-v18-latin-regular.eot');

    /* IE9 Compat Modes */
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../FONTs/roboto-condensed-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../FONTs/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../FONTs/roboto-condensed-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../FONTs/roboto-condensed-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../FONTs/roboto-condensed-v18-latin-regular.svg#RobotoCondensed') format('svg');

    /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../FONTs/roboto-condensed-v18-latin-700.eot');

    /* IE9 Compat Modes */
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../FONTs/roboto-condensed-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../FONTs/roboto-condensed-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../FONTs/roboto-condensed-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../FONTs/roboto-condensed-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../FONTs/roboto-condensed-v18-latin-700.svg#RobotoCondensed') format('svg');

    /* Legacy iOS */
}

/* If you use another FONT - change the font-familiy here
--------------------------------------------------------------------------- */
html {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* Uncomment/Adjust the following lines for having a light theme nav on mobile 
   --------------------------------------------------------------------------- */
/* .mean-container .mean-bar {
    background: #ffffff;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.18), 0 5px 9px 0 rgba(0, 0, 0, 0.15);
}

.mean-container a.meanmenu-reveal {
    color: #263238;
}

.mean-container a.meanmenu-reveal span {
    background: #263238;
}

.mean-container .mean-nav {
    background: #ffffff;
}

.mean-container .mean-nav ul li a {
    color: #263238;
    border-top: 1px solid #383838;
    border-top: 1px solid rgba(0,0,0,0.15);
}

.mean-container .mean-nav ul li li a {
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(255,255,255,1);
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.mean-container .mean-nav ul li a:hover {
    background: #252525;
    background: rgba(0,0,0,0.05);
}

.mean-container .mean-nav ul li a.mean-expand {
    background: rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.4) !important;
    border-bottom: 1px solid rgba(0,0,0,0.15) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: #eceff1;
} */
/* -------------------------------- 
   End of light theme nav on mobile */
/* Uncomment/Adjust the following lines for having a Brand in Menubar that shrinks 
   --------------------------------------------------------------------------- */
.tmg__nav--if-width {
    display: flex !important;
}

.magicnav--light,
.magicnav--dark {
    display: flex;
}

.magicnav--light ul li a,
.magicnav--dark ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magicnav--light ul li,
.magicnav--dark ul li {
    display: inline-flex;
}

.magicnav--light ul li a,
.magicnav--dark ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer-poster-top {
    padding-top: 62px;
}

#brand--target_navigation {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.company--brand_mobile {
    width: 100px;
    height: 62px;
    position: fixed;
    top: 0;
    left: 20px;
    background-image: url('../img/logo-full-negative.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000000;
}

@media (min-width:900px) {
    .spacer-poster-top {
        padding-top: 148px;
    }

    .li-padding-remove {
        padding: 0px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .company--brand_desktop {
        background-image: url('../img/logo-full-negative.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 230px;
        pointer-events: none;
    }

    .company--brand_mobile {
        display: none !important;
    }

    .nav--shrink_height {
        height: 52px;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

/* --------------------------------------- 
   End of Brand in Menubar that shrinks */
/* Uncomment/Adjust the following lines for turning Slick Dots into bars 
   --------------------------------------------------------------------- */
/* .slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    position: absolute;
    bottom: 0px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 6px !important;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 50px !important;
    height: 6px !important;
    padding: 9px !important;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px !important;
    height: 6px !important;
    content: '' !important;
    text-align: center;
    opacity: .25;
    color: white !important;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
} */
/* ------------------------ 
   End of Slick Carousel */
/* Uncomment/Adjust the following lines for controlling the Back-To-Top Appearance 
   ------------------------------------------------------------------------------- */
.back-to-top:hover {
    background-color: #8e24aa !important;
    color: #fff;
    opacity: 1;
}

/* --------------------- 
   End of Back-To-Top */
/* Uncomment/Adjust the following lines for changing the MagicTable stuff 
   ------------------------------------------------------------------------------- */
/* .tmg-table th,
.tmg-table td:before {
    color: #ce93d8;
    margin-right: 10px;
    content: attr(data-th) "";
    width: 10rem;
}

@media (min-width: 56.25em) {
    .tmg-table th:first-child,
    .tmg-table td:first-child {
        padding-left: 0;
        width: 7rem;
        text-align: center;
    }
} */
/* --------------------- 
   End of MagicTable */
/* We need a reverse system */
@media all and (min-width: 1000px) {
    .tmg--module__order-reverse {
        order: 1;
    }
}

.banner-settings {
    height: 40vh;
    background-image: url('../img/reginald-hero-scene.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Font-Awesome additionals */
.tmg--fa-icon__circle span {
    font-size: 48px;
    font-size: 3.4375em;
    line-height: 175px;
}

.tmg--fa-icon__circle {
    display: block;
    width: 175px;
    min-height: 175px;
    z-index: 0;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.text-longshadow {
    text-shadow: 0px 0px #7c2095, 1px 1px #7c2095, 2px 2px #7c2095, 3px 3px #7c2095, 4px 4px #7c2095, 5px 5px #7c2095, 6px 6px #7c2095, 7px 7px #7c2095, 8px 8px #7c2095, 9px 9px #7c2095, 10px 10px #7c2095, 11px 11px #7c2095, 12px 12px #7c2095, 13px 13px #7c2095, 14px 14px #7c2095, 15px 15px #7c2095, 16px 16px #7c2095, 17px 17px #7c2095, 18px 18px #7c2095, 19px 19px #7c2095, 20px 20px #7c2095, 21px 21px #7c2095, 22px 22px #7c2095, 23px 23px #7c2095, 24px 24px #7c2095, 25px 25px #7c2095, 26px 26px #7c2095, 27px 27px #7c2095, 28px 28px #7c2095, 29px 29px #7c2095, 30px 30px #7c2095, 31px 31px #7c2095, 32px 32px #7c2095, 33px 33px #7c2095, 34px 34px #7c2095, 35px 35px #7c2095, 36px 36px #7c2095, 37px 37px #7c2095, 38px 38px #7c2095, 39px 39px #7c2095, 40px 40px #7c2095, 41px 41px #7c2095, 42px 42px #7c2095, 43px 43px #7c2095, 44px 44px #7c2095, 45px 45px #7c2095, 46px 46px #7c2095, 47px 47px #7c2095, 48px 48px #7c2095, 49px 49px #7c2095, 50px 50px #7c2095, 51px 51px #7c2095, 52px 52px #7c2095, 53px 53px #7c2095, 54px 54px #7c2095, 55px 55px #7c2095, 56px 56px #7c2095, 57px 57px #7c2095, 58px 58px #7c2095, 59px 59px #7c2095, 60px 60px #7c2095, 61px 61px #7c2095, 62px 62px #7c2095, 63px 63px #7c2095, 64px 64px #7c2095, 65px 65px #7c2095, 66px 66px #7c2095, 67px 67px #7c2095, 68px 68px #7c2095, 69px 69px #7c2095, 70px 70px #7c2095, 71px 71px #7c2095, 72px 72px #7c2095, 73px 73px #7c2095, 74px 74px #7c2095, 75px 75px #7c2095, 76px 76px #7c2095, 77px 77px #7c2095, 78px 78px #7c2095, 79px 79px #7c2095, 80px 80px #7c2095, 81px 81px #7c2095, 82px 82px #7c2095, 83px 83px #7c2095, 84px 84px #7c2095, 85px 85px #7c2095, 86px 86px #7c2095, 87px 87px #7c2095, 88px 88px #7c2095, 89px 89px #7c2095, 90px 90px #7c2095, 91px 91px #7c2095, 92px 92px #7c2095, 93px 93px #7c2095, 94px 94px #7c2095, 95px 95px #7c2095, 96px 96px #7c2095, 97px 97px #7c2095, 98px 98px #7c2095, 99px 99px #7c2095, 100px 100px #7c2095, 101px 101px #7c2095, 102px 102px #7c2095, 103px 103px #7c2095, 104px 104px #7c2095, 105px 105px #7c2095, 106px 106px #7c2095, 107px 107px #7c2095, 108px 108px #7c2095, 109px 109px #7c2095, 110px 110px #7c2095, 111px 111px #7c2095, 112px 112px #7c2095, 113px 113px #7c2095, 114px 114px #7c2095, 115px 115px #7c2095, 116px 116px #7c2095, 117px 117px #7c2095, 118px 118px #7c2095, 119px 119px #7c2095, 120px 120px #7c2095, 121px 121px #7c2095, 122px 122px #7c2095, 123px 123px #7c2095, 124px 124px #7c2095, 125px 125px #7c2095, 126px 126px #7c2095, 127px 127px #7c2095, 128px 128px #7c2095, 129px 129px #7c2095, 130px 130px #7c2095, 131px 131px #7c2095, 132px 132px #7c2095, 133px 133px #7c2095, 134px 134px #7c2095, 135px 135px #7c2095, 136px 136px #7c2095, 137px 137px #7c2095, 138px 138px #7c2095, 139px 139px #7c2095, 140px 140px #7c2095, 141px 141px #7c2095, 142px 142px #7c2095, 143px 143px #7c2095, 144px 144px #7c2095, 145px 145px #7c2095, 146px 146px #7c2095, 147px 147px #7c2095, 148px 148px #7c2095, 149px 149px #7c2095, 150px 150px #7c2095, 151px 151px #7c2095, 152px 152px #7c2095, 153px 153px #7c2095, 154px 154px #7c2095, 155px 155px #7c2095, 156px 156px #7c2095, 157px 157px #7c2095, 158px 158px #7c2095, 159px 159px #7c2095, 160px 160px #7c2095, 161px 161px #7c2095, 162px 162px #7c2095, 163px 163px #7c2095, 164px 164px #7c2095, 165px 165px #7c2095, 166px 166px #7c2095, 167px 167px #7c2095, 168px 168px #7c2095, 169px 169px #7c2095, 170px 170px #7c2095, 171px 171px #7c2095, 172px 172px #7c2095, 173px 173px #7c2095, 174px 174px #7c2095, 175px 175px #7c2095, 176px 176px #7c2095, 177px 177px #7c2095, 178px 178px #7c2095, 179px 179px #7c2095, 180px 180px #7c2095, 181px 181px #7c2095, 182px 182px #7c2095, 183px 183px #7c2095, 184px 184px #7c2095, 185px 185px #7c2095, 186px 186px #7c2095, 187px 187px #7c2095, 188px 188px #7c2095, 189px 189px #7c2095, 190px 190px #7c2095, 191px 191px #7c2095, 192px 192px #7c2095, 193px 193px #7c2095, 194px 194px #7c2095, 195px 195px #7c2095, 196px 196px #7c2095, 197px 197px #7c2095, 198px 198px #7c2095, 199px 199px #7c2095, 200px 200px #7c2095;
}

.banner h2 {
    font-size: 40px;
    text-shadow: 0px 0px #721d88, 1px 1px #721d88, 2px 2px #721d88, 3px 3px #721d88, 4px 4px #721d88, 5px 5px #721d88, 6px 6px #721d88, 7px 7px #721d88, 8px 8px #721d88, 9px 9px #721d88, 10px 10px #721d88, 11px 11px #721d88, 12px 12px #721d88, 13px 13px #721d88, 14px 14px #721d88, 15px 15px #721d88, 16px 16px #721d88, 17px 17px #721d88, 18px 18px #721d88, 19px 19px #721d88, 20px 20px #721d88, 21px 21px #721d88, 22px 22px #721d88, 23px 23px #721d88, 24px 24px #721d88, 25px 25px #721d88, 26px 26px #721d88, 27px 27px #721d88, 28px 28px #721d88, 29px 29px #721d88, 30px 30px #721d88, 31px 31px #721d88, 32px 32px #721d88, 33px 33px #721d88, 34px 34px #721d88, 35px 35px #721d88, 36px 36px #721d88, 37px 37px #721d88, 38px 38px #721d88, 39px 39px #721d88, 40px 40px #721d88, 41px 41px #721d88, 42px 42px #721d88, 43px 43px #721d88, 44px 44px #721d88, 45px 45px #721d88, 46px 46px #721d88, 47px 47px #721d88, 48px 48px #721d88, 49px 49px #721d88, 50px 50px #721d88, 51px 51px #721d88, 52px 52px #721d88, 53px 53px #721d88, 54px 54px #721d88, 55px 55px #721d88, 56px 56px #721d88, 57px 57px #721d88, 58px 58px #721d88, 59px 59px #721d88, 60px 60px #721d88, 61px 61px #721d88, 62px 62px #721d88, 63px 63px #721d88, 64px 64px #721d88, 65px 65px #721d88, 66px 66px #721d88, 67px 67px #721d88, 68px 68px #721d88, 69px 69px #721d88, 70px 70px #721d88, 71px 71px #721d88, 72px 72px #721d88, 73px 73px #721d88, 74px 74px #721d88, 75px 75px #721d88, 76px 76px #721d88, 77px 77px #721d88, 78px 78px #721d88, 79px 79px #721d88, 80px 80px #721d88, 81px 81px #721d88, 82px 82px #721d88, 83px 83px #721d88, 84px 84px #721d88, 85px 85px #721d88, 86px 86px #721d88, 87px 87px #721d88, 88px 88px #721d88, 89px 89px #721d88, 90px 90px #721d88, 91px 91px #721d88, 92px 92px #721d88, 93px 93px #721d88, 94px 94px #721d88, 95px 95px #721d88, 96px 96px #721d88, 97px 97px #721d88, 98px 98px #721d88, 99px 99px #721d88, 100px 100px #721d88, 101px 101px #721d88, 102px 102px #721d88, 103px 103px #721d88, 104px 104px #721d88, 105px 105px #721d88, 106px 106px #721d88, 107px 107px #721d88, 108px 108px #721d88, 109px 109px #721d88, 110px 110px #721d88, 111px 111px #721d88, 112px 112px #721d88, 113px 113px #721d88, 114px 114px #721d88, 115px 115px #721d88, 116px 116px #721d88, 117px 117px #721d88, 118px 118px #721d88, 119px 119px #721d88, 120px 120px #721d88, 121px 121px #721d88, 122px 122px #721d88, 123px 123px #721d88, 124px 124px #721d88, 125px 125px #721d88, 126px 126px #721d88, 127px 127px #721d88, 128px 128px #721d88, 129px 129px #721d88, 130px 130px #721d88, 131px 131px #721d88, 132px 132px #721d88, 133px 133px #721d88, 134px 134px #721d88, 135px 135px #721d88, 136px 136px #721d88, 137px 137px #721d88, 138px 138px #721d88, 139px 139px #721d88, 140px 140px #721d88, 141px 141px #721d88, 142px 142px #721d88, 143px 143px #721d88, 144px 144px #721d88, 145px 145px #721d88, 146px 146px #721d88, 147px 147px #721d88, 148px 148px #721d88, 149px 149px #721d88, 150px 150px #721d88, 151px 151px #721d88, 152px 152px #721d88, 153px 153px #721d88, 154px 154px #721d88, 155px 155px #721d88, 156px 156px #721d88, 157px 157px #721d88, 158px 158px #721d88, 159px 159px #721d88, 160px 160px #721d88, 161px 161px #721d88, 162px 162px #721d88, 163px 163px #721d88, 164px 164px #721d88, 165px 165px #721d88, 166px 166px #721d88, 167px 167px #721d88, 168px 168px #721d88, 169px 169px #721d88, 170px 170px #721d88, 171px 171px #721d88, 172px 172px #721d88, 173px 173px #721d88, 174px 174px #721d88, 175px 175px #721d88, 176px 176px #721d88, 177px 177px #721d88, 178px 178px #721d88, 179px 179px #721d88, 180px 180px #721d88, 181px 181px #721d88, 182px 182px #721d88, 183px 183px #721d88, 184px 184px #721d88, 185px 185px #721d88, 186px 186px #721d88, 187px 187px #721d88, 188px 188px #721d88, 189px 189px #721d88, 190px 190px #721d88, 191px 191px #721d88, 192px 192px #721d88, 193px 193px #721d88, 194px 194px #721d88, 195px 195px #721d88, 196px 196px #721d88, 197px 197px #721d88, 198px 198px #721d88, 199px 199px #721d88, 200px 200px #721d88;
}